#map {
    height: 100%;
    width: 100%;
    position: absolute;
}
#player {
    margin: 2%;
}
#list{
    border: 1px solid black;
    background-color:rgba(255,255,0,0.5);
    margin: 2%;
    float: right;
}
ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 0;
}
#search-box {
    font-size: 20px;
    color: green;
    font-weight: bold;
}
.btn{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial sans-serif;
    color: #000000;
    font-size: 11px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    margin: 2%;
    max-width: 100%;
    white-space: normal;
}
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.btn:focus{
    background: green;
    color: white;
    outline: 0;
}
